{# templates/default/boutique.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row" style="margin-bottom: 5%;">

                    {% for product in products %}
                        <div class="col-md-3 shop_box"><a href="single.html">
                                <img src="images/{{ product.photo|e }}" class="img-responsive" alt=""/>
                                <div class="shop_desc">
                                    <h3><a href="#">{{ product.name|e }}</a></h3>
                                    <p>{{ product.description|e }}</p>
                                    <span class="actual">{{ product.price|e }}&euro;</span><br>
                                    <ul class="buttons">
                                        <li class="cart"><a href="#">Ajouter au panier</a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                            </a></div>

                        {% if loop.index = 4 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% else %}
                        <div><em>Nous n'avons plus de marchandise en stock pour le moment, désolé.</em></div>
                    {% endfor %}
                </div>
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}