{# templates/default/footer.html.twig #}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="footer_box">
                    <!--<h4>Products</h4>
                    <li><a href="#">Mens</a></li>
                    <li><a href="#">Womens</a></li>
                    <li><a href="#">Youth</a></li>-->
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_box">
                    <!--<h4>About</h4>
                    <li><a href="#">Careers and internships</a></li>
                    <li><a href="#">Sponserships</a></li>
                    <li><a href="#">team</a></li>
                    <li><a href="#">Catalog Request/Download</a></li>-->
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_box">
                    <!--<h4>Customer Support</h4>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Shipping and Order Tracking</a></li>
                    <li><a href="#">Easy Returns</a></li>
                    <li><a href="#">Warranty</a></li>
                    <li><a href="#">Replacement Binding Parts</a></li>-->
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_box">
                    <h4>R&eacute;saux sociaux</h4>
                    <ul class="social">
                        <li class="facebook"><a href="https://www.facebook.com/pages/Eglise%20Protestante%20Unie%20de%20Grenoble/1897295767234045/" target="_blank"><span> </span></a></li>
                    </ul>

                </ul>
            </div>
        </div>
        <div class="row footer_bottom">
            <div class="copy">
                <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
            </div>
        </div>
    </div>
</div>